@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  display: inline-block;
  font-size: 5em;
}

/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {

}

article {

}

h1 {

}

img {
  width: 100%;
}

figure {
  margin: 1px;
  font-size: 0.7em;
}

.emoji {
  width: 10px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.articleBox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: pink;
  padding: 15px;
  border-bottom: 1px solid black;
}

.articleSectionBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.articleSection {
  width: 40%;
  font-size: 1.1em;
  margin-left: auto;
  margin-right: auto;
}

.imageContainer {
  width: 50%;
  min-height: 200px;
  transition: width 2s, height 2s, background-color 2s;
}

.imageContainer2 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: width 2s, height 2s, background-color 2s;
}

#one {
  background-image: url(../images_src/background/background4.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*-webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;*/
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

#two {
  background-image: url(../images_src/horses_2x.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#three {
  background-image: url(../images_src/largeCompressed/cockatoos.jpg);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.footerBox {
  background-color: yellow;
  text-align: center;
  min-height: 100px;
  width: 100%;
}
.footerImage {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
  .titleBox {
    width: 100%;
  }
  .articleBox {
    width: 100%;
  }
  .articleSection {
    width: 100%;
  }
  .imageContainer {
    width: 100%;
    margin-right: auto;
  }
  .imageContainer2 {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .imageContainer2 {
    width: 100%;
  }
}
